<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjpWKzDEiDS3PxvGC3O6yk5XOACWE-Egg</string>
	<key>GCM_SENDER_ID</key>
	<string>728542124320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shruti-parmar.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-6a858</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-6a858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728542124320:ios:b269904e01229eab615f45</string>
</dict>
</plist>